# Senorita Divide #2 (744)
# New Mexico  SNOTEL Site - 8600 ft
# Daily Data for Period of Record
#
# (As of: Wed Jun 15 12:37:35 GMT-08:00 2016)
#  **Provisional data, subject to revision**
#
Date,Snow Water Equivalent (in),Precipitation Accumulation (in),Air Temperature Maximum (degF),Air Temperature Minimum (degF),Air Temperature Average (degF),Precipitation Increment (in)

In [1]:
header = ['Date','SWE','P_accum','Tmax','Tmin','Tave','P']

In [2]:
dat = pd.read_csv('./data/senorita_divide_snotel.txt',skiprows=8,header=None, names=header)
dat.index = pd.DatetimeIndex(dat.Date)
del dat['Date']

In [3]:
# convert to metric
dat.SWE *= 0.0254 # in to m
dat.P *= 0.0254 # in to m
dat.P_accum *= 0.0254 # in to m
dat.Tave -= 32 # f to c
dat.Tmax -= 32 # f to c
dat.Tmin -= 32 # f to c
dat.Tave *= (5./9.) # f to c
dat.Tmax *= (5./9.) # f to c 
dat.Tmin *= (5./9.) # f to c

In [5]:
dat.head()

            SWE  P_accum  Tmax  Tmin  Tave  P
1980-10-01    0        0   NaN   NaN   NaN  0
1980-10-02    0        0   NaN   NaN   NaN  0
1980-10-03    0        0   NaN   NaN   NaN  0
1980-10-04    0        0   NaN   NaN   NaN  0
1980-10-05    0        0   NaN   NaN   NaN  0

In [6]:
dat.to_pickle('./data/senorita_divide_2_snotel.pcl')