# Vacas Locas (1017)
# New Mexico  SNOTEL Site - 9306 ft
# Daily Data for Period of Record
#
# (As of: Wed Jun 15 11:22:30 GMT-08:00 2016)
#  **Provisional data, subject to revision**
#
Date,Snow Water Equivalent (in),Precipitation Accumulation (in),Air Temperature Maximum (degF),Air Temperature Minimum (degF),Air Temperature Average (degF),Precipitation Increment (in)

In [5]:
header = ['Date','SWE','P_accum','Tmax','Tmin','Tave','P']

In [14]:
dat = pd.read_csv('./data/vacas_locas_snotel.csv',skiprows=8,header=None, names=header)
dat.index = pd.DatetimeIndex(dat.Date)
del dat['Date']

In [16]:
# convert to metric
dat.SWE *= 0.0254 # in to m
dat.P *= 0.0254 # in to m
dat.P_accum *= 0.0254 # in to m
dat.Tave -= 32 # f to c
dat.Tmax -= 32 # f to c
dat.Tmin -= 32 # f to c
dat.Tave *= (5./9.) # f to c
dat.Tmax *= (5./9.) # f to c 
dat.Tmin *= (5./9.) # f to c

In [18]:
dat.head()

            SWE  P_accum  Tmax  Tmin  Tave  P
2001-11-08    0        0   NaN   NaN   NaN  0
2001-11-09    0        0   NaN   NaN   NaN  0
2001-11-10    0        0   NaN   NaN   NaN  0
2001-11-11    0        0   NaN   NaN   NaN  0
2001-11-12    0        0   NaN   NaN   NaN  0

In [19]:
dat.to_pickle('./data/vacas_local_snotel.pcl')