### Snow sublimation as part of the water balance

Examine what proportion of alpine precipitation is sublimated. Data from:

Knowles, J. F., A. A. Harpold, R. Cowie, M. Zeliff, H. R. Barnard, S. P. Burns, P. D. Blanken, J. F. Morse, and M. W. Williams (2015), The relative contributions of alpine and subalpine ecosystems to the water balance of a mountainous, headwater catchment, Hydrol. Process., 29(22), 4794â€“4808, doi:10.1002/hyp.10526.

In [2]:
bs = [262,187,202,367,166] # blowing snow ET [mm]
P = [1170,866,937,1527,860] # precipitation

In [3]:
dat = pd.DataFrame({'bs':bs,'P':P})

In [4]:
dat['prop'] = dat.bs/dat.P
dat['scale'] = 1.-dat.prop

In [5]:
round(dat.scale.mean(),2)

0.78

In [6]:
round(dat.scale.min(),2)

0.76

In [7]:
round(dat.scale.max(),2)

0.81

In [8]:
dat.prop.mean()

0.21776247903248694

In [9]:
dat

      P   bs      prop     scale
0  1170  262  0.223932  0.776068
1   866  187  0.215935  0.784065
2   937  202  0.215582  0.784418
3  1527  367  0.240341  0.759659
4   860  166  0.193023  0.806977