###### Load the Data

In [1]:
p301 = pd.read_pickle('../providence/data/et_cal17.pcl') # Use et_cal17
vcm = pd.read_pickle('../jemez/data/et_cal54.pcl') # Use et_cal54
nr = pd.read_pickle('../data/et_cal29.pcl') # used et_cal26 previously, now using et_cal29

In [35]:
nr.loc[nr.monthly==nr.monthly.max()][nr.columns[0:11]]

,gw1,gw2,idx,ksat,lai,m,pa,po,rd,daily,monthly
16342,0.624,0.21,6709,133.66,0.64,12.398,0.02,0.253,3.24,-0.285098,0.648886

In [48]:
nr.loc[nr.monthly==nr.monthly.max()][['nse_SF_monthly','nse_ET_monthly','pe_SF_monthly','pe_ET_monthly','monthly']]

       nse_SF_monthly  nse_ET_monthly  pe_SF_monthly  pe_ET_monthly   monthly
16342        0.693069       -0.085422       0.890277       0.319883  0.648886

In [49]:
np.mean([0.69,-0.085,(1-0.89),(1-0.32)])

0.34875

In [71]:
print 'P301 monthly metric maximum: %s'%round(p301.monthly.max(),3)
print 'Vcm monthly metric maximum: %s'%round(vcm.monthly.max(),3)
print 'Nr1 monthly metric maximum: %s'%round(nr.monthly.max(),3)

P301 monthly metric maximum: 0.79
Vcm monthly metric maximum: 0.545
Nr1 monthly metric maximum: 0.649

In [77]:
p301idx = p301.loc[p301.monthly==p301.monthly.max(),'idx'].as_matrix()[0]
vcmidx = vcm.loc[vcm.monthly==vcm.monthly.max(),'idx'].as_matrix()[0]
nridx = nr.loc[nr.monthly==nr.monthly.max(),'idx'].as_matrix()[0]

In [78]:
print 'P301'
[('%s: %s'%(key,round(p301.loc[p301.idx == p301idx,key],3))) for key in p301.columns]

P301

['gw1: 0.442',
 'idx: 12172.0',
 'ksat: 505.26',
 'lai: 0.63',
 'm: 3.137',
 'pa: 0.466',
 'po: 2.533',
 'rd: 8.503',
 'daily: -4.565',
 'monthly: 0.79',
 'nse_ET_daily: -17.117',
 'nse_ET_monthly: 0.61',
 'nse_ET_weekly: 0.715',
 'nse_SF_daily: -2.591',
 'nse_SF_monthly: 0.576',
 'nse_SF_weekly: 0.173',
 'pe_ET_daily: 53.133',
 'pe_ET_monthly: 1.261',
 'pe_ET_weekly: 2.562',
 'pe_SF_daily: 1.972',
 'pe_SF_monthly: 1.144',
 'pe_SF_weekly: 1.442',
 'weekly: 0.712']

In [80]:
print 'Vcm'
[('%s: %s'%(key,round(vcm.loc[vcm.idx == vcmidx,key],3))) for key in vcm.columns]

Vcm

['gw1: 0.124',
 'gw2: 0.594',
 'idx: 16861.0',
 'ksat: 515.19',
 'lai: 1.43',
 'm: 1.538',
 'pa: 0.036',
 'po: 1.589',
 'rd: 4.814',
 'daily: 0.209',
 'monthly: 0.545',
 'nse_ET_daily: -0.913',
 'nse_ET_monthly: 0.202',
 'nse_ET_weekly: -0.555',
 'nse_SF_daily: -0.23',
 'nse_SF_monthly: -0.012',
 'nse_SF_weekly: -0.153',
 'pe_ET_daily: 1.106',
 'pe_ET_monthly: 0.57',
 'pe_ET_weekly: 0.8',
 'pe_SF_daily: 0.866',
 'pe_SF_monthly: 0.678',
 'pe_SF_weekly: 0.88',
 'weekly: 0.319']

In [83]:
print 'Nr1'
[('%s: %s'%(key,round(nr.ix[16342,key],3))) for key in nr.columns]

Nr1

['gw1: 0.624',
 'gw2: 0.21',
 'idx: 6709.0',
 'ksat: 133.66',
 'lai: 0.64',
 'm: 12.398',
 'pa: 0.02',
 'po: 0.253',
 'rd: 3.24',
 'daily: -0.285',
 'monthly: 0.649',
 'nse_ET_daily: -1.815',
 'nse_ET_monthly: -0.085',
 'nse_ET_weekly: -1.238',
 'nse_SF_daily: -1.307',
 'nse_SF_monthly: 0.693',
 'nse_SF_weekly: 0.272',
 'pe_ET_daily: 0.907',
 'pe_ET_monthly: 0.32',
 'pe_ET_weekly: 0.493',
 'pe_SF_daily: 0.95',
 'pe_SF_monthly: 0.89',
 'pe_SF_weekly: 0.964',
 'weekly: 0.255',
 'new_metric: -0.004']

In [54]:
def scale(dat):
    '''rescale a data set between 0 and 1'''
    dat2 = dat + np.abs(dat.min()) # translate dat to so its all positive
    dat2 /= dat2.max() # divide by the maximum 
    
    return dat2

In [65]:
nr2 = pd.DataFrame({'nseET':scale(nr.nse_ET_monthly),'nseSF':scale(nr.nse_SF_monthly),
                   'peET':scale(1.-nr.pe_ET_monthly),'peSF':scale(1.-nr.pe_SF_monthly)})
p3012 = pd.DataFrame({'nseET':scale(p301.nse_ET_monthly),'nseSF':scale(p301.nse_SF_monthly),
                   'peET':scale(1.-p301.pe_ET_monthly),'peSF':scale(1.-p301.pe_SF_monthly)})
vcm2 = pd.DataFrame({'nseET':scale(vcm.nse_ET_monthly),'nseSF':scale(vcm.nse_SF_monthly),
                   'peET':scale(1.-vcm.pe_ET_monthly),'peSF':scale(1.-vcm.pe_SF_monthly)})

In [66]:
def compute_metric(df):

    return df.nseET*df.nseSF*df.peET*df.peSF

In [67]:
nr2['met'] = nr2.apply(compute_metric,axis=1)
p3012['met'] = p3012.apply(compute_metric,axis=1)
vcm2['met'] = vcm2.apply(compute_metric,axis=1)

In [69]:
print nr2.loc[nr2.met==nr2.met.max()]
print p3012.loc[p3012.met==p3012.met.max()]
print vcm2.loc[vcm2.met==vcm2.met.max()]

          nseET  nseSF      peET      peSF       met
16342  0.971106    1.0  0.941709  0.926257  0.847061
        nseET     nseSF      peET  peSF       met
6406  0.99357  0.990471  0.882742   1.0  0.868708
       nseET     nseSF      peET      peSF       met
18385    1.0  0.997554  0.884448  0.943889  0.832778

In [64]:
nr.loc[nr.index==16342][['nse_SF_monthly','nse_ET_monthly','pe_SF_monthly','pe_ET_monthly']]

       nse_SF_monthly  nse_ET_monthly  pe_SF_monthly  pe_ET_monthly
16342        0.693069       -0.085422       0.890277       0.319883