In [4]:
tmp = pd.read_pickle('../providence/data/providence_upper_met_p.pcl')

In [5]:
crn = pd.DataFrame(tmp[['precip','Tmax','Tmin','Tave','rain_duration']])

In [7]:
crn.columns = ['P','Tmax','Tmin','Tave','rain_duration']
crn.P *= 0.001 # mm to m

In [8]:
crn.head()

                P    Tmax    Tmin       Tave  rain_duration
2008-10-01  0.000  24.870  14.480  18.203333              3
2008-10-02  0.000  18.960  10.240  14.393333              3
2008-10-03  0.002  14.520   6.913  10.579292              3
2008-10-04  0.031   7.442   3.633   6.088833              3
2008-10-05  0.000   9.840   3.633   6.412625              3

In [9]:
crn.tail()

              P   Tmax   Tmin       Tave  rain_duration
2011-09-26  0.0  21.88   9.26  14.567660              3
2011-09-27  0.0  24.38  15.33  18.686809              3
2011-09-28  0.0  26.55  15.49  19.705745              3
2011-09-29  0.0  29.08  16.68  20.793830              3
2011-09-30  0.0  24.90  12.32  17.590426              3

In [11]:
nonleap = crn.loc['2008-10-1':'2009-09-30'].copy().reset_index()
leap = crn.loc['2008-10-1':'2009-10-01'].copy().reset_index()
year_end = crn.loc['2008-10-1':'2009-10-15'].copy().reset_index() # not a leap year

In [12]:
strt = '2008-10-1'

out = pd.concat([nonleap,
                nonleap,
                nonleap,
                leap,
                nonleap,
                nonleap,
                nonleap,
                leap,
                nonleap,
                year_end],axis=0)

out.index = pd.DatetimeIndex(pd.date_range(start=strt,freq='D',periods=len(out)))

In [13]:
out.head()

                index      P    Tmax    Tmin       Tave  rain_duration
2008-10-01 2008-10-01  0.000  24.870  14.480  18.203333              3
2008-10-02 2008-10-02  0.000  18.960  10.240  14.393333              3
2008-10-03 2008-10-03  0.002  14.520   6.913  10.579292              3
2008-10-04 2008-10-04  0.031   7.442   3.633   6.088833              3
2008-10-05 2008-10-05  0.000   9.840   3.633   6.412625              3

In [14]:
out.tail()

                index      P    Tmax   Tmin       Tave  rain_duration
2018-10-11 2009-10-11  0.000  16.580  6.547   9.743500              3
2018-10-12 2009-10-12  0.000  10.830  1.747   5.533083              3
2018-10-13 2009-10-13  0.210   7.287  1.077   4.326417              3
2018-10-14 2009-10-14  0.045  15.040  7.310   9.669208              3
2018-10-15 2009-10-15  0.000  17.610  8.880  12.357083              3

In [15]:
header = '2008 10 1'
np.savetxt('/RHESSys/providence/theo_p301_flux/clim/smex_spinup.rain',out.P,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/providence/theo_p301_flux/clim/smex_spinup.tmin',out.Tmin,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/providence/theo_p301_flux/clim/smex_spinup.tmax',out.Tmax,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/providence/theo_p301_flux/clim/smex_spinup.tavg',out.Tave,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/providence/theo_p301_flux/clim/smex_spinup.daytime_rain_duration',out.rain_duration,comments='',header=header,fmt='%10.8f')