In [1]:
tmp = pd.read_pickle('../data/crn_corr.pcl')
tmp['rain_duration'] = (tmp.P*0.6890) + 1.0826
tmp.loc[tmp.rain_duration>24,'rain_duration'] = 24
crn = pd.DataFrame(tmp[['P','Tmax','Tmin','Tave_mod','rain_duration']])

In [2]:
crn.columns = ['P','Tmax','Tmin','Tave','rain_duration']
crn.P *= 0.001 # mm to m

In [3]:
nonleap = crn.loc['2009-10-1':'2010-09-30'].copy().reset_index()
leap = crn.loc['2009-10-1':'2010-10-01'].copy().reset_index()
year_end = crn.loc['2009-10-1':'2010-10-15'].copy().reset_index() # not a leap year

In [11]:
strt = '2009-10-1'

out = pd.concat([nonleap,
                nonleap,
                leap,
                nonleap,
                nonleap,
                nonleap,
                leap,
                nonleap,
                nonleap,
                year_end],axis=0)

out.index = pd.DatetimeIndex(pd.date_range(start=strt,freq='D',periods=len(out)))

In [12]:
out.head()

                 date       P  Tmax  Tmin  Tave  rain_duration
2009-10-01 2009-10-01  0.0009  -3.6  -8.1  -5.4         1.7027
2009-10-02 2009-10-02  0.0000   4.8  -6.1  -1.7         1.0826
2009-10-03 2009-10-03  0.0000   8.6  -6.8   0.8         1.0826
2009-10-04 2009-10-04  0.0027   6.1  -3.7   0.3         2.9429
2009-10-05 2009-10-05  0.0029   4.5  -5.5  -0.5         3.0807

In [13]:
out.tail()

                 date       P  Tmax  Tmin  Tave  rain_duration
2019-10-11 2010-10-11  0.0000   9.8   1.1   5.1         1.0826
2019-10-12 2010-10-12  0.0143   4.5  -2.2   0.2        10.9353
2019-10-13 2010-10-13  0.0000   8.9  -4.0   2.2         1.0826
2019-10-14 2010-10-14  0.0000  13.9   0.5   7.9         1.0826
2019-10-15 2010-10-15  0.0000  14.2   0.3   8.4         1.0826

In [15]:
header = '2009 10 1'
np.savetxt('/RHESSys/ComoCreek_new/clim/smex_spinup.rain',out.P,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/ComoCreek_new/clim/smex_spinup.tmin',out.Tmin,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/ComoCreek_new/clim/smex_spinup.tmax',out.Tmax,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/ComoCreek_new/clim/smex_spinup.tavg',out.Tave,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/ComoCreek_new/clim/smex_spinup.daytime_rain_duration',out.rain_duration,comments='',header=header,fmt='%10.8f')