In [3]:
tmp = pd.read_pickle('../jemez/data/Vcm_hybrid_precip.pcl')
crn = pd.DataFrame(tmp[['hybrid_p','Vcm_tmin','Vcm_tave','Vcm_tmax','Vcm_rain_duration']])

In [5]:
crn.columns = ['P','Tmin','Tave','Tmax','rain_duration']
crn.P *= 0.001 # mm to m

In [7]:
crn.head()

                   P      Tmin      Tave       Tmax  rain_duration
2009-10-01  0.001647 -0.709345  2.936486   7.834244       1.176688
2009-10-02  0.001647 -2.309345  5.236486  12.234244       1.176688
2009-10-03  0.001647  0.490655  7.736486  13.934244       1.176688
2009-10-04  0.001647  5.490655  8.336486  13.334244       1.176688
2009-10-05  0.001647  3.190655  8.836486  14.434244       1.176688

In [6]:
crn.tail()

                   P      Tmin       Tave       Tmax  rain_duration
2012-10-01  0.001647  5.490655  10.936486  17.834244       1.176688
2012-10-02  0.001647  3.190655  11.436486  18.334244       1.176688
2012-10-03  0.001647  9.890655  14.136486  18.934244       1.176688
2012-10-04  0.001647  6.590655  13.136486  18.934244       1.176688
2012-10-05  0.001647  5.490655  11.736486  16.134244       1.176688

In [34]:
nonleap = crn.loc['2011-10-1':'2012-09-29'].copy().reset_index()
leap = crn.loc['2011-10-1':'2012-09-30'].copy().reset_index()
year_end = crn.loc['2011-10-1':'2012-10-4'].copy().reset_index() # a non-leap year

In [42]:
pd.DatetimeIndex(pd.date_range(start=strt,freq='D',periods=len(out)))

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [61]:
strt = '1952-10-1'

years = pd.concat([leap,
                nonleap,
                nonleap,
                nonleap],axis=0)

year_end = pd.concat([leap,
                year_end],axis=0)

out = pd.concat([years,years,years,years,years,years,years,years,years,years,years,years,
                years,years,years,years,years,years,years,years,years,years,years,years,
                 years,years,years,years,years,years,years,years,years,years,years,years,
                 years,years,years,years,years,years,years,years,years,years,years,years,
                 years,years,years,years,years,years,years,years,years,years,years,years,years,
                 years,years,years,years,years,years,years,years,years,year_end],axis=0)

out.index = pd.DatetimeIndex(pd.date_range(start=strt,freq='D',periods=len(out)))

In [62]:
len(out)

106666

In [63]:
out.tail()

                index         P      Tmin       Tave       Tmax  rain_duration
2244-10-11 2012-09-30  0.002845  4.242253   9.768752  16.526511       1.800283
2244-10-12 2012-10-01  0.001647  5.490655  10.936486  17.834244       1.176688
2244-10-13 2012-10-02  0.001647  3.190655  11.436486  18.334244       1.176688
2244-10-14 2012-10-03  0.001647  9.890655  14.136486  18.934244       1.176688
2244-10-15 2012-10-04  0.001647  6.590655  13.136486  18.934244       1.176688

In [64]:
header = '1952 10 1'
np.savetxt('/RHESSys/jemez/clim/smex_spinup.rain',out.P,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/jemez/clim/smex_spinup.tmin',out.Tmin,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/jemez/clim/smex_spinup.tmax',out.Tmax,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/jemez/clim/smex_spinup.tavg',out.Tave,comments='',header=header,fmt='%10.8f')
np.savetxt('/RHESSys/jemez/clim/smex_spinup.daytime_rain_duration',out.rain_duration,comments='',header=header,fmt='%10.8f')