In [8]:
#import spotpy
import numpy as np
import pandas as pd
import subprocess
import shutil
import os
from pymail import alert
from rhessys import utilities as ru

In [5]:
from hydro import objective_fxns as obfx

In [24]:
df = pd.read_pickle('./data/afx_ET_opt1_24320_NSE0_32.pcl')

In [25]:
df.head()

            Observations  Simulation
2004-10-31     34.720321   43.966536
2004-11-30     21.620114   25.473528
2004-12-31     23.810457   15.593487
2005-01-31     20.378670   25.781083
2005-02-28     23.962321   24.949188

In [26]:
obfx.nashsut(df.Observations, df.Simulation).round(2)

0.32

In [27]:
df['wy'] = df.index.map(ru.wateryear)
df['year'] = df.index.map(lambda x: x.year)

In [28]:
df.head()

            Observations  Simulation    wy  year
2004-10-31     34.720321   43.966536  2005  2004
2004-11-30     21.620114   25.473528  2005  2004
2004-12-31     23.810457   15.593487  2005  2004
2005-01-31     20.378670   25.781083  2005  2005
2005-02-28     23.962321   24.949188  2005  2005

In [29]:
df = df.loc[df.year > 2006]

In [30]:
obfx.nashsut(df.Observations, df.Simulation).round(2)

0.56